.App{
    text-align: center;
    /* font-family: 'Rubik', sans-serif; */
    font-family: 'Cormorant Garamond', serif;
    background-image: radial-gradient(rgb(97, 29, 29), rgb(0, 0, 0));
    background-size: cover;
    /* display: flex;       
    flex-direction: column; */
    height: 100%;
}

.App .plswrk{
    width: 100%;
    z-index: -2;
}

body{
    margin: 0;
    padding: 0;
}