.App{
    text-align: center;
    width: 100%;
    height: 100%;
    font-family: 'Rubik', sans-serif;
    background-image: radial-gradient(rgb(88, 31, 31), rgb(0, 0, 0));
    background-size: cover;
}

.App .plswrk{
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
}