.Blogs{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    z-index: 1;
    padding-top: 10%;
}



h1{
    font-size: 30px;
    font-weight: 800;
    color: rgb(218, 218, 218);
}

.bloglist{
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.blogItem{
    width: 210px;
    height: 250px;
    margin: 40px;
    background-color: black;
    color: rgb(218, 218, 218);
}

.blogItem:hover{
    padding: 10px;
    background-color: rgb(138, 21, 21);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.Blogs a{
    text-decoration: none;
}

.blogItem h2{
    font-size: 15px;
    padding-top: 10px;
}
.blogItem p{
    font-size: 12px;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: 800px){
    .bloglist{
        width: 60vw;
        padding-right: 15%;
    }
}

@media only screen and (max-width: 600px){
    .bloglist{
        grid-template-columns: 1fr;
        padding-right: 5%;
    }

   .Blogs h1{
        font-size: 20px;
        padding-top: 70px;
    }
}