.Home{
   padding-top: 10%;
    padding-bottom: 150px;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.HeaderContainer{
    width: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.homeh1{
    font-size: 40px;
    height: 60px;
    font-weight: 800;
    color: rgb(221, 221, 221);
}

.homeP{
    color: rgb(221, 221, 221);
    width: 40%;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}