.wireframe{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    z-index: 1;
    padding-top: 10%;
}

.wireframe p{
    width: 70%;
    justify-content: center;
    text-align: justify;
    color: rgb(221, 221, 221);
    padding: 10px;
    z-index: 1;
}


h1{
    font-size: 30px;
    font-weight: 800;
    color: rgb(218, 218, 218);
}

h2{
    font-weight: 800;
    color: rgb(218, 218, 218);
}

h3{
    font-weight: 800;
    color: rgb(218, 218, 218);
}

.intro{
    color: rgb(218, 218, 218);
    font-weight: bold;
}

.wireframeItem{
    width: 320px;
    height: 280px;
    padding: 10px;
    margin: 20px;
    background-color: black;
}

.wireframeItem div{
    width: 100%;
    height: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 800px){
   .intro{
       font-size: 15px;
       width: 70%;
   }
}

@media only screen and (max-width: 600px){
    .intro{
        font-size: 12px;
    }
}